# Ignore everything
/*

# But not these files/folders...
!/.gitignore
!/pages/
!/components/
!/middleware.ts
!/next.config.js
!/package.json
!/tsconfig.json
!/README.md

# dependencies
node_modules/

# next.js
.next/
out/

# misc
.DS_Store
*.pem
.vscode
*.ipynb
__pycache__/
*.pyc

# env files
.env*.local
.env

# typescript
*.tsbuildinfo
next-env.d.ts
